.mainContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--text-dark);
  gap: 72px;
  background-color: var(--main-white);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.subContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-family: 'Unbounded';
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
}

.authorWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: 'Proxima Nova';
}

.quoteWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.author {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--text-dark);
}

.quote {
  width: 247px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-dark);
}

.email {
  font-family: 'Proxima Nova';
  font-size: 32px;
  font-weight: 700;
  line-height: 1.14;
}

@media (min-width: 768px) {
  .title {
    font-size: 100px;
    line-height: 1.3;
  }

  .authorWrapper {
    flex-direction: row;
  }

  .quote {
    width: 291px;
    font-size: 26px;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    flex-direction: row;
  }

  .subContent {
    margin-top: auto;
  }

  .formWrapper {
    width: 710px;
  }
}

@media (min-width: 1920px) {
  .subContent {
    flex-direction: row;
    align-items: center;
  }
}
