.markdown {
  width: 100%;
  color: var(--text-dark);
}

.markdown h1 {
  font-size: 22px;
  font-weight: 700;
}

.markdown h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 1.2em;
  margin-bottom: .6em;
}

.research.markdown h2::before {
  margin-right: 12px;
  content: '';
  width: 22px;
  height: 1px;
  background-color: var(--text-dark);
  border-radius: 2px;
}

.authorImg {
  margin: 0;
  width: 36px;
  height: auto;
  border-radius: 100%;
}

.markdown > p > img {
  opacity: 1;
  width: 100%;
}

.markdown strong {
  font-size: 14px;
}

.tagList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.tagItem {
  margin: 0;
  padding: 0;
}

.tag {
  padding: 6px 8px;
  border-radius: 8px;
  color: var(--main-white);
  font-size: 12px;
  background-color: #1a1621;
}

.tag::before {
  content: '#';
}

.markdown hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .markdown h1 {
    font-size: 26px; /* Reduce from 36px */
  }
  .markdown h2 {
    font-size: 20px; /* Reduce from 26px */
  }

  .research.markdown h2::before {
    margin-right: 16px;
  }

  .authorImg {
    width: 54px; /* Reduce from 80px */
  }

  .markdown li,
  .markdown p,
  .markdown strong {
    font-size: 18px; /* Reduce from 21px */
  }

  .tag {
    padding: 8px 12px;
    font-size: 14px; /* Reduce from 18px */
  }
}

@media (min-width: 1440px) {
  .markdown h1 {
    font-size: 30px; /* Reduce from 40px */
  }
  .markdown h2 {
    font-size: 24px; /* Reduce from 36px */
  }

  .research.markdown h2::before {
    width: 100px;
    margin-right: 16px;
  }

  .markdown li,
  .markdown p,
  .markdown strong {
    font-size: 16px; /* Reduce from 24px */
  }
}
