.mainContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.InternContainer,
.listContainer,
.finalContainer {
  padding: 40px 20px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  min-height: 446px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.InternContainer {
  background-color: var(--dark-blue);
}

.listContainer {
  background-color: var(--main-white);
}

.finalContainer {
  position: relative;
  display: flex;
  justify-content: end;
  background: url('/assets/images/about/bg_hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.finalContainer::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(182deg, rgba(0, 20, 80, 0) 30%, #001450 90%);
  opacity: 0.9;
  z-index: 2;
}

.numList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numItem {
  position: relative;
  flex: 1;
  display: flex;
  gap: 12px;
}

.num {
  position: relative;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proxima Nova';
  font-size: 22px;
  font-weight: 700;
  line-height: 1.1;
  border-radius: 6px;
  background-color: var(--main-blue);
  overflow: hidden;
}

.numItem:not(:last-child)::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 18px;
  width: 2px;
  height: 100%;
  background-color: var(--main-blue);
  transform: translate(-50%);
}

.title {
  font-family: 'Unbounded';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  z-index: 5;
}

.blackTitle {
  font-size: 28px;
  color: var(--text-dark);
}

.numContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tag {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--main-blue);
  word-wrap: break-word;
}

.teamImage {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: auto;
  z-index: 2;
}

@media (min-width: 768px) {
  .InternContainer,
  .listContainer,
  .finalContainer {
    padding: 40px;
    min-height: 422px;
  }

  .title {
    font-size: 38px;
  }

  .blackTitle {
    font-size: 32px;
  }

  .tag {
    font-size: 20px;
  }

  .num {
    min-width: 67px;
    min-height: 60px;
    font-size: 26px;
  }

  .numItem:not(:last-child)::before {
    left: 33px;
  }

  .teamImage {
    bottom: -30%;
  }
}

@media (min-width: 1200px) {
  .teamImage {
    bottom: -80%;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 40px;
  }

  .InternContainer,
  .listContainer,
  .finalContainer {
    min-height: 520px;
  }

  .numItem {
    padding-bottom: 25px;
  }

  .title {
    font-size: 44px;
  }

  .blackTitle {
    font-size: 38px;
  }

  .teamImage {
    bottom: 0;
  }
}
