.cardContainer {
  padding: 20px 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  transition: opacity 0.5s;
}

.content,
.image {
  transition: opacity 0.5s;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.contentWrapper {
  position: relative;
  padding: 25px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 75px;
  font-family: 'Proxima Nova';
}

.name {
  font-family: 'Proxima Nova';
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
}

.job {
  margin-top: 6px;
  display: block;
  font-size: 20px;
  line-height: 1.2;
}

.description {
  margin-top: 40px;
  font-size: 20px;
  line-height: 1.2;
}

.cardNavigation {
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.positionWrapper {
  font-family: 'Proxima Nova';
  font-weight: 700;
}

.position {
  font-size: 36px;
  color: var(--main-blue);
}

.slash {
  font-size: 36px;
}

.length {
  font-size: 20px;
}

@media (min-width: 768px) {
  .contentWrapper {
    padding: 40px 40px 0;
    gap: 140px;
  }

  .name {
    font-size: 40px;
    line-height: 1.1;
  }

  .description {
    font-size: 32px;
    line-height: 1.12;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    flex-direction: row;
  }

  .image {
    box-sizing: border-box;
    width: auto;
    height: 485px;
  }

  .contentWrapper {
    gap: 0;
  }
}
