@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #090215;
}

@layer components {
  body {
    --bg-color: #090215;
    --second-bg-color: #750080;
    --text-color: #94a3b8;
    --accent-col: #a854fd;
    --main-white: #ffffff;
  }
}

@layer utilities {
  body {
    color: var(--main-white);
  }
}

@layer components {
  .backImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bg-color);

    background-image: url('/assets/images/banner/mobile_main_banner.png');

    @media (min-width: 768px) {
      background-image: url('/assets/images/banner/tablet_main_banner.png');
    }

    @media (min-width: 1440px) {
      background-image: url('/assets/images/banner/desktop_main_banner.png');
    }
  }

  .mainContainer {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--bg-color);
  }

  .mainContainer::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--bg-color) 200px);
    z-index: 1;
  }

  @media (min-width: 768px) {
    .mainContainer::after {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--bg-color) 400px);
    }
  }

  @media (min-width: 1440px) {
    .mainContainer::after {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--bg-color) 500px);
    }
  }
}
