@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #090215;
}

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/proxima_nova_regular.woff) format('woff');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    src: url(/fonts/proxima-nova/ProximaNovaBold.woff) format('woff');
  }
}

@layer components {
  body {
    --primary: #00030c;
    --bg-color: #010c2c;
    --second-bg-color: #f7f7f7;
    --text-color: #94a3b8;
    --main-gray: #dcddeb;
    --text-dark: #010c2c;
    --accent-col: #a854fd;
    --main-white: #ffffff;
    --main-blue: #013edf;
    --dark-blue: #000a25;
    --second-blue: #001450;
    --light-blue: #00248b;
    --pagination-col: #eceffa;
  }
}

@layer utilities {
  body {
    color: var(--text-dark);
  }

  main {
    color: var(--text-dark);
  }

  .article-description {
    font-size: 35px;
  }

  .text-stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--main-white);
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .backImage {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: var(--main-white);
    background-image: url('/assets/images/banner/main_banner.png');
  }

  .bussinesBg {
    position: relative;
  }

  .bussinesBg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      175deg,
      rgba(1, 12, 44, 0) -3.51%,
      #00030c 85.29%
    );
    z-index: 5;
  }

  .unlickSectionBg {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/banner/main_banner.png');
  }

  .mainContainer {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 150px);
  }

  @media (min-width: 768px) {
    .mainContainer {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 200px);
    }
  }

  @media (min-width: 1200px) {
    .mainContainer {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 250px);
    }
  }

  @media (min-width: 1440px) {
    .mainContainer {
      /* background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 500px); */
    }
  }

  .paginationBtn {
    padding: 12px 8px;
    border-radius: 8px;
    background-color: var(--pagination-col);
  }

  .stickyLink {
    position: sticky;
    top: calc(100vh - 68px);
  }

  .manifesto-list {
    @apply prose-p:m-[0] prose-ol:flex prose-ol:flex-col prose-ol:gap-[40px] prose-li:m-0 prose-li:pl-[20px] tablet:prose-li:pl-[40px];
  }

  .card-width {
    min-width: 320px;
  }

  @media (min-width: 768px) {
    .card-width {
      /* min-width: calc(100% - 20px) */
      min-width: 100%;
    }
  }

  @media (min-width: 1440px) {
    .card-width {
      min-width: calc(100% / 2);
    }
  }
}
