@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  /* list-style: none; */
}

@layer components {
  body {
    --bg-color: #111827;
    --text-color: #94a3b8;
  }
}

@layer utilities {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}
