@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
a {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #090215;
}

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/proxima_nova_regular.woff) format('woff');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 700;
    src: url(/fonts/proxima-nova/ProximaNovaBold.woff) format('woff');
  }
}

@layer components {
  body {
    --bg-color: #010c2c;
    --second-bg-color: #750080;
    --text-color: #94a3b8;
    --text-dark: #010c2c;
    --accent-col: #a854fd;
    --main-white: #ffffff;
    --main-blue: #013edf;
    --pagination-col: #eceffa;
  }
}

@layer utilities {
  body {
    color: var(--text-dark);
    font-family: 'Monrope', 'sans-serif';
  }
}

@layer components {
  .backImage {
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: var(--main-white);
    background-image: url('https://dgtlbureau.github.io/zarubin_blog/assets/images/banner/main_banner.png');
  }

  /* 
  .backImage::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 80%);
    opacity: 0.5;
  } */

  .mainContainer {
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 150px);
  }

  @media (min-width: 768px) {
    .mainContainer {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 302px);
    }
  }

  @media (min-width: 1200px) {
    .mainContainer {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 342px);
    }
  }

  @media (min-width: 1440px) {
    .mainContainer {
      /* background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--main-white) 500px); */
    }
  }

  .paginationBtn {
    padding: 12px 8px;
    border-radius: 8px;
    background-color: var(--pagination-col);
  }
}