.title {
  font-family: 'Unbounded';
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  white-space: nowrap;
}

.listWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.listWrapper::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), var(--primary) 80%);
  z-index: 2;
}

.list {
  padding-left: 30px;
  width: 200%;
  display: flex;
  align-items: center;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.image {
  height: 100%;
  width: auto;
}

@media (min-width: 768px) {
  .title {
    font-size: 50px;
    line-height: 1.3;
  }

  .list {
    width: 200%;
  }

  .item {
    height: 50px;
  }
}

@media (min-width: 1440px) {
  .mainContainer {
    display: flex;
    align-items: center;
    gap: 52px;
  }

  .list {
    width: 200%;
    align-items: center;
  }

  .item {
    height: 92px;
  }
}

@media (min-width: 1920px) {
  .title {
    font-size: 70px;
  }
}
