.heroContainer {
  position: relative;
  /* background: linear-gradient(to right, #0b1123, #0041cc), url('/public/assets/images/main/hero_bg.png'); */
  background-image: url('/assets/images/main/hero_bg.png');
  background-size: cover;
  background-position: center;
}

.heroContainer::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--primary) 200px, var(--main-blue));
  opacity: 0.9;
}
