.bannerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 400px;
  z-index: -1;
}

.atr font {
  color: #0088cc;
}

@media (min-width: 768px) {
  .bannerContainer {
    width: 100%;
    height: auto;
  }
}
