.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  bottom: -60px;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0.1;
}

.titleWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: 'Unbounded';
  font-size: 45px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.content {
  transition: opacity 0.5s;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@media (min-width: 768px) {
  .title {
    font-size: 50px;
    line-height: 1.3;
  }
}
