.markdown {
  width: 100%;
  color: var(--text-dark);
}

.markdown h1 {
  font-size: 28px;
  font-weight: 700;
}

.markdown h2 {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
}

.markdown tr th {
  text-align: start;
}

.research.markdown h2::before {
  margin-right: 12px;
  content: '';
  width: 24px;
  height: 1px;
  background-color: var(--text-dark);
  border-radius: 2px;
}

.authorImg {
  margin: 0;
  width: 40px;
  height: auto;
  border-radius: 100%;
}

.markdown > p > img {
  opacity: 1;
  width: 100%;
}

.markdown strong {
  font-size: 16px;
}

.tagList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.tagItem {
  margin: 0;
  padding: 0;
}

.tag {
  padding: 6px 8px;
  border-radius: 8px;
  color: var(--main-white);
  font-size: 12px;
  background-color: #1a1621;
}

.tag::before {
  content: '#';
}

@media (min-width: 768px) {
  .markdown h1 {
    font-size: 36px;
  }

  .markdown h2 {
    font-size: 26px;
  }

  .research.markdown h2::before {
    margin-right: 16px;
  }

  .authorImg {
    width: 80px;
  }

  .markdown li,
  .markdown p,
  .markdown strong {
    font-size: 21px;
  }

  .tag {
    padding: 8px 12px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .markdown h1 {
    font-size: 40px;
  }

  .markdown h2 {
    font-size: 36px;
  }

  .research.markdown h2::before {
    width: 100px;
    margin-right: 20px;
  }

  .markdown li,
  .markdown p,
  .markdown strong {
    font-size: 24px;
  }
}
