.burgerWrapper {
  display: flex;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  height: 61px;
  width: 61px;
}

.burger {
  display: block;
  height: 5px;
  width: 40px;
  transform: scale(1);
}

.burgerLight {
  background-color: var(--primary);
}

.burgerDark {
  background-color: white;
}

.burger::after,
.burger::before {
  content: '';
  position: absolute;
  height: 5px;
  transition: all 0.3s ease 0s;
}

.burger::after {
  top: -5px;
  width: 100%;
}

.burger::before {
  bottom: -5px;
  right: 0;
  width: 80%;
}

.burgerLight::after {
  background-color: white;
}

.burgerLight::before {
  background-color: #f8ae3c;
}

.burgerDark::after {
  background-color: var(--primary);
}

.burgerDark::before {
  background-color: var(--main-blue);
}

.burger.active::before {
  bottom: 0;
  width: 100%;
  transform: rotate(45deg) translate(0, 0);
}

.burger.active::after {
  top: 0;
  transform: rotate(-45deg) translate(0, 0);
}

.burgerLight.active::after {
  background-color: white;
}

.burgerLight.active::before {
  background-color: white;
}

.burgerDark.active::after {
  background-color: var(--primary);
}

.burgerDark.active::before {
  background-color: var(--primary);
}

@media (min-width: 1280px) {
  .burgerWrapper {
    display: none;
  }
}